<!DOCTYPE html>
<html lang="en" style="background-image: url('static/img/background.jpg'); background-attachment: fixed; background-repeat: no-repeat;">

<head>
    <title>Arias_bot</title>
    <meta charset="UTF-8">
    <link href="/static/css/contact_style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>

<body class="body">
    <div class="header">
        <div class="header_icon">
            <a href="/">
                <img class="icon" src="static/img/icon4.png" alt="Icon_base" width="80" height="45">
            </a>
            
        </div>
        <div class="center_header">
        </div>
        <div class="nav">
            <div class="text_header">
                <a href="https://discord.gg/W369uUtAqk" class="discord_link">
                    <img src="static/img/discord_icon.png" alt="logo" style="width:50px;height:50px;">
                </a>
            </div>
            <div class="text_header">
                <a href="https://github.com/MystAriaa/Arias_bot" class="github_link">
                    <img src="static/img/github_icon.png" alt="logo" style="width:50px;height:50px;">
                </a>
            </div>
            <div class="text_header">
                <a href="/faq" class="faq_link">
                    <img src="static/img/faq_icon.png" alt="logo" style="width:50px;height:40px;">
                </a>
            </div>
            <div class="text_header">
                <a href="/contact" class="contact_link">
                    <img src="static/img/contact_icon.png" alt="logo" style="width:50px;height:50px;">
                </a>
            </div>
            <div class="text_header">
                <a href="/visualisation" class="contact_link">
                    <img src="static/img/database_icon.png" alt="contact_icon" style="width:50px;height:50px;">
                </a>
            </div>
        </div>
    </div>

    <div class="contact_body">
        <ul>
            <li>
                My discord: MystAria#3007 | I highly recommend to contact me by discord.<br>
            </li>
            <li>
                My email: adrien.tronchon@gmail.com<br>
            </li>
            <li>
                My Twitch: MystAria_<br>
            </li>
        </ul>
    </div>






    <div class="page_end">
        <div class="disclaimer">
            <p>Arias_bot isn't endorsed by Twitch and doesn't reflect the views or opinions of Twitch or anyone officially involved in producing or managing Twitch properties. Twitch, and all associated properties are trademarks or registered trademarks of Twitch, Inc.</p>
        </div>
    </div>

</body>

</html>