<!DOCTYPE html>
<html lang="en" style="background-image: url('static/img/background.jpg'); background-attachment: fixed; background-repeat: no-repeat;">

<head>
    <title>Arias_bot</title>
    <meta charset="UTF-8">
    <link href="/static/css/faq_style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>

<body class="body">
    <div class="header">
        <div class="header_icon">
            <a href="/">
                <img class="icon" src="static/img/icon4.png" alt="icon" width="80" height="45">
            </a>
            
        </div>
        <div class="center_header">
            <a href="/stop">(DEBUG) STOP</a>
            <a href="/start">(DEBUG) START</a>
        </div>
        <div class="nav">
            <div class="text_header">
                <a href="" class="discord_link">
                    <img src="static/img/discord_icon.png" alt="discord_icon" style="width:50px;height:50px;">
                </a>
            </div>
            <div class="text_header">
                <a href="https://github.com/MystAriaa/Arias_bot" class="github_link">
                    <img src="static/img/github_icon.png" alt="github_icon" style="width:50px;height:50px;">
                </a>
            </div>
            <div class="text_header">
                <a href="/faq" class="faq_link">
                    <img src="static/img/faq_icon.png" alt="faq_icon" style="width:50px;height:40px;">
                </a>
            </div>
            <div class="text_header">
                <a href="/contact" class="contact_link">
                    <img src="static/img/contact_icon.png" alt="contact_icon" style="width:50px;height:50px;">
                </a>
            </div>
            <div class="text_header">
                <a href="/visualisation" class="contact_link">
                    <img src="static/img/database_icon.png" alt="contact_icon" style="width:50px;height:50px;">
                </a>
            </div>
        </div>
    </div>

    <img class="peepo_question" src="static/img/peepo_question.png" alt="peepo_question" style="width:100px;height:100px;">

    <div class="faq_body">
        <div class="q1">
            <!-- <img src="static/img/question_icon.png" alt="question_icon" style="width:50px;height:50px;"> -->
            <ul>
                <li>
                    Why Arias_bot?
                </li><br>
                <li>
                    Due to growing harassment on the Twitch platform, and impunity for toxic online behavior, pooling the efforts of moderation communities will create a slightly healthier space. The original idea came from RebeuDeter. This project started as a way to train me to code, manage a BDD and make requests to APIs. Never finishing my projects, I promise to finish this one.
                </li>
            </ul>
        </div>
        <div class="q2">
            <ul>
                <li>
                    Can anybody join and cause trouble ?
                </li><br>
                <li>
                    For now everybody can join. In the futur you will need a verification code from our discord to join. Moreover bans made and shared are tracked by who made them. If there is an abuse, admins can choose as they will to remove anybody from the network.
                </li>
            </ul>
        </div>
        <div class="q2">
            <ul>
                <li>
                    How do I connect and be part of the network?
                </li><br>
                <li>
                    Simply download the "Connect with Twitch" button on the home page, no login or password required. The connection is made via Twitch.
                </li>
            </ul>
        </div>
        <div class="q3">
            <ul>
                <li>
                    How to withdraw from the network?
                </li><br>
                <li>
                    Simply press the "Connect with Twitch" button on the home page, and then click the disconnect button. Arias_bot actions will then be removed, your data will be processed.
                </li>
            </ul>
        </div>
        <div class="q4">
            <ul>
                <li>
                    What can Arias_bot do on my channel? 
                </li><br>
                <li>
                    Arias_bot can only get your users banned, banish users and unban users. Arias_bot can also get your public data from Twitch. Nothing more.
                </li>
            </ul>
        </div>
        <div class="q5">
            <ul>
                <li>
                    Does Arias_bot filter my chat? 
                </li><br>
                <li>
                    No Arias_bot does not read your chat or ban directly from your chat. Moderation is the sole responsibility of your moderation team. In short, Arias_bot brings together all the moderation teams of the network members.
                </li>
            </ul>
        </div>
        <div class="q6">
            <ul>
                <li>
                    What data is stored by Arias_bot? 
                </li><br>
                <li>
                    Arias_bot has a database with users banned from each channel as well as your public/private information from twitch after authentication, namely your channel name, channel id, access and refresh tokens.
                </li>
            </ul>
        </div>
        <div class="q7">
            <ul>
                <li>
                    When the bot applies the banishments on my channel? 
                </li><br>
                <li>
                    The bot updates user accounts banned on member channels every day at 5:00 UTC+0.
                </li>
            </ul>
        </div>
        <div class="q8">
            <ul>
                <li>
                    Are all bans shared even timeout/temporary? 
                </li><br>
                <li>
                    Not for the moment only the permanent so serious bans are shared. In the future you can filter the chosen bans.
                </li>
            </ul>
        </div>
        <div class="q9">
            <ul>
                <li>
                    Are temporary bans shared? 
                </li><br>
                <li>
                    No, only permanent bans are shared. In the future Arias_bot will incorporate them and will be filterable.
                </li>
            </ul>
        </div>
        <div class="q10">
            <ul>
                <li>
                   What happens if I missclick a banishment, troll ban, banish an innocent user? 
                </li><br>
                <li>
                   Banishments are shared every day at 5am UTC+0. You therefore have a large window of time in case of error of your par.
                </li>
            </ul>
        </div>
        <div class="q11">
            <ul>
                <li>
                    What happens if I debunk a user? 
                </li><br>
                <li>
                    This user will be a network unban and thus a network member channel. However, if this same user has been banned by another member of the network he will remain banned.
                </li>
            </ul>
        </div>
        <div class="q12">
            <ul>
                <li>
                    Do I need to specify the reason for my bans? 
                </li><br>
                <li>
                    No, bans are traced and indicated as coming from your chain. In the future, bans do not have reasons/comments for banning to be filter to your care.
                </li>
            </ul>
        </div>
        <div class="q13">
            <ul>
                <li>
                    Can we filter bans by reason? 
                </li><br>
                <li>
                    No, in the future yes, this is a feature in development. For the moment only permanent and therefore serious bans are shared.
                </li>
            </ul>
        </div>
        <div class="q14">
            <ul>
                <li>
                    How can I trust this third-party application? 
                </li><br>
                <li>
                    You can’t completely, Arias_bot is the most transparent project possible. With an open source code, a complete F.A.Q and a Discord server we hope to give you confidence. Not being an expert in cybersecurity, I hope to have taken all the basic security measures.
                </li>
            </ul>
        </div>
    </div>

    <div class="page_end">
        <div class="disclaimer">
            <p>Arias_bot isn't endorsed by Twitch and doesn't reflect the views or opinions of Twitch or anyone officially involved in producing or managing Twitch properties. Twitch, and all associated properties are trademarks or registered trademarks of Twitch, Inc.</p>
        </div>
    </div>

    <div class="credit">
        <a href="/version">V1.00 by MystAria</a>
    </div>
</body>

</html>