<!DOCTYPE html>
<html lang="en" style="background-image: url('static/img/background.jpg'); background-attachment: fixed; background-repeat: no-repeat;">

<head>
    <title>Arias_bot</title>
    <meta charset="UTF-8">
    <link href="/static/css/faq_style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>

<body class="body">
    <div class="header">
        <div class="header_icon">
            <a href="/">
                <img class="icon" src="static/img/icon4.png" alt="icon" width="80" height="45">
            </a>
            
        </div>
        <div class="center_header">
        </div>
        <div class="nav">
            <div class="text_header">
                <a href="https://discord.gg/W369uUtAqk" class="discord_link">
                    <img src="static/img/discord_icon.png" alt="discord_icon" style="width:50px;height:50px;">
                </a>
            </div>
            <div class="text_header">
                <a href="https://github.com/MystAriaa/Arias_bot" class="github_link">
                    <img src="static/img/github_icon.png" alt="github_icon" style="width:50px;height:50px;">
                </a>
            </div>
            <div class="text_header">
                <a href="/faq" class="faq_link">
                    <img src="static/img/faq_icon.png" alt="faq_icon" style="width:50px;height:40px;">
                </a>
            </div>
            <div class="text_header">
                <a href="/contact" class="contact_link">
                    <img src="static/img/contact_icon.png" alt="contact_icon" style="width:50px;height:50px;">
                </a>
            </div>
            <div class="text_header">
                <a href="/visualisation" class="contact_link">
                    <img src="static/img/database_icon.png" alt="contact_icon" style="width:50px;height:50px;">
                </a>
            </div>
        </div>
    </div>

    <img class="peepo_question" src="static/img/peepo_question.png" alt="peepo_question" style="width:100px;height:100px;">

    <div class="faq_body">
        <div class="q1">
            <!-- <img src="static/img/question_icon.png" alt="question_icon" style="width:50px;height:50px;"> -->
            <ul>
                <li>
                    Why Arias_bot ?
                </li><br>
                <li>
                    Due to growing harassment on the Twitch platform, and impunity for toxic online behavior, pooling the efforts of moderation communities will create a slightly healthier space. The original idea came from RebeuDeter. This project started as a way to train me to code, manage a database and make requests to APIs. I believe this should be an official feature by Twitch for at least its partener.
                </li>
            </ul>
        </div>
        <div class="q2">
            <ul>
                <li>
                    Can anybody join and cause trouble ?
                </li><br>
                <li>
                    Everybody can join. You need a verification code from our discord to join. Moreover bans made and shared are tracked by who made them. If there is an abuse, admins can choose as they will to remove anybody from the network.
                </li>
            </ul>
        </div>
        <div class="q2">
            <ul>
                <li>
                    How do I connect and be part of the network ?
                </li><br>
                <li>
                    Get a temporary one-time code from our discord by using "!code" in the channel named bot-commands. Submit it and click the "Connect with Twitch" button on the home page, no login or password required. The connection is made via Twitch.
                </li>
            </ul>
        </div>
        <div class="q3">
            <ul>
                <li>
                    How to withdraw from the network ?
                </li><br>
                <li>
                    Get a temporary one-time code from our discord by using "!code" in the channel named bot-commands. Submit it and press the "Connect with Twitch" button on the home page, and then click the disconnect button. Arias_bot actions will then be removed, your data will be removed too.
                </li>
            </ul>
        </div>
        <div class="q4">
            <ul>
                <li>
                    What can Arias_bot do on my channel ? 
                </li><br>
                <li>
                    Arias_bot can only get your users banned, banish users and unban users. Arias_bot can also get your public data from Twitch. Nothing more.
                </li>
            </ul>
        </div>
        <div class="q5">
            <ul>
                <li>
                    Does Arias_bot filter my chat ? 
                </li><br>
                <li>
                    No Arias_bot does not read your chat or ban directly from your chat. Moderation is the sole responsibility of your moderation team. In short, Arias_bot brings together all the moderation teams of the network members.
                </li>
            </ul>
        </div>
        <div class="q6">
            <ul>
                <li>
                    What data are stored by Arias_bot ? 
                </li><br>
                <li>
                    Arias_bot has a database with users banned from each channel as well as your public/private information from twitch after authentication, namely your channel name, channel id, access and refresh tokens along with your registered options.
                </li>
            </ul>
        </div>
        <div class="q7">
            <ul>
                <li>
                    When does the bot apply the banishments on my channel ? 
                </li><br>
                <li>
                    The bot updates user accounts banned on member channels every day at 5:00 UTC+0.
                </li>
            </ul>
        </div>
        <div class="q8">
            <ul>
                <li>
                    Are all bans shared even timeout/temporary ? 
                </li><br>
                <li>
                    Every bans are shared if you choose too. By checking the box "timeout" in yout portal page after being connected by Twitch, you will allow timed-out (temporary) bans to be applied on your channel. Unchecking it will not allow them.
                </li>
            </ul>
        </div>
        <div class="q9">
            <ul>
                <li>
                    How does filters options works ?
                </li><br>
                <li>
                    With the filter options you can choose which users banned in our database will be ban by Arias_bot on your Twitch channel. A checked box means allowed on your channel. "Permanent" refers to any ban made indefinetly. "Timeout" refers to any temporary ban. "Only Commented" refers to any ban with a specific commentary for the original moderation team. "Without comment" refers to any ban without a commentary made by the original moderation team.
                    Within commented bans, some are filter and put in categories, those are "Sexism"/"Homophobia"/"Rascism"/"Backseat"/"Spam"/"Username"/"Other". At last you are able to filter any ban made by non-affiliated Twitch channels. By checking this box, only bans made from Twitch affiliates and parteners will be applied to your channel.
                </li>
            </ul>
        </div>
        <div class="q10">
            <ul>
                <li>
                   What happens if I missclick a banishment, troll ban, banish an innocent user ? 
                </li><br>
                <li>
                   Banishments are shared every day at 5am UTC+0. You therefore have a large window of time in case of error of your par.
                </li>
            </ul>
        </div>
        <div class="q11">
            <ul>
                <li>
                    What happens if I unban a user ? 
                </li><br>
                <li>
                    This user will be unban from the network too at 5 hour UTC+0. However, if this same user has been banned by another member of the network he will remain banned.
                </li>
            </ul>
        </div>
        <div class="q12">
            <ul>
                <li>
                    Do I need to specify the reason for my bans ? 
                </li><br>
                <li>
                    No, bans are traced and indicated as coming from your channel. However it is always helpfull to add a comment to help our network to filter and your own moderation team.
                </li>
            </ul>
        </div>
        <div class="q13">
            <ul>
                <li>
                    How does "Give-Only" and "Receive-Only" works ?
                </li><br>
                <li>
                    These two configurations are the opposite of each other. By activating the "Give-Only" option for you channel Arias_bot will no longer be able to ban anybody in our database on your channel. However banned users on your channel will still be gathered and shared. By activating the "Receive-Only" option for you channel Arias_bot be able to ban anybody in our database on your channel. However banned users on your channel will no longer be gathered and shared.
                </li>
            </ul>
        </div>
        <div class="q14">
            <ul>
                <li>
                    How can I trust this third-party application ? 
                </li><br>
                <li>
                    You can’t completely, Arias_bot is the most transparent project possible. With an open source code, a complete F.A.Q and a Discord server we hope to give you confidence. Any feedbacks are welcomed and there are still room for improvement.
                </li>
            </ul>
        </div>
    </div>

    <div class="page_end">
        <div class="disclaimer">
            <p>Arias_bot isn't endorsed by Twitch and doesn't reflect the views or opinions of Twitch or anyone officially involved in producing or managing Twitch properties. Twitch, and all associated properties are trademarks or registered trademarks of Twitch, Inc.</p>
        </div>
    </div>

</body>

</html>