<!DOCTYPE html>
<html lang="en" style="background-image: url('static/img/background.jpg'); background-attachment: fixed; background-repeat: no-repeat;">
<!-- Our main page -->

<head>
    <title>Arias_bot</title>
    <meta charset="UTF-8">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body class="body">
    <div class="header">
        <div class="header_icon">
            <img class="icon" src="static/img/icon4.png" alt="Icon_base" width="50" height="30">
        </div>
        <div class="center_header">
            <!-- <a>WHOLOLO</a> -->
        </div>
        <div class="nav">
            <div class="text_header">
                <a href="">Discord</a>
            </div>
            <div class="text_header">
                <a href="">GitHub</a>
            </div>
            <div class="text_header">
                <a href="">F.A.Q</a>
            </div>
            <div class="text_header">
                <a href="">Contact</a>
            </div>
        </div>
    </div>
    <div class="first_page">
        <div class="main">
            <div class="title_main">
                <p>Arias_bot</p>
            </div>
            <div class="icon_main">
                <img class="icon" src="static/img/icon4.png" alt="Icon_base" width="501" height="306">
            </div>
            <div class="intro_main">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, veniam earum facilis at velit consequatur sit harum voluptatibus aliquid eius dolor similique culpa ratione, distinctio, quos iusto. Quibusdam, provident accusantium.</p>
            </div>
            <div class="twitch_div">
                <button class="twitch_button">
                    <a class="twitch_link" href="www.youtube.com">Connect with Twitch</a>
                </button>
            </div>
        </div>
        <div class="go_down">
            <img class="icon_go_down" src="static/img/icon_go_down.png" alt="Icon_base" width="50" height="27">
        </div>
    </div>

    <div class="page_down">
        <div class="whatisit">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste at explicabo tempore amet, rem, alias dicta doloremque qui sequi aut et minus est illo. Minima alias excepturi eos delectus natus.</p>
        </div>
        <div class="graph">
            <img class="icon_go_down" src="static/img/icon.jpg" alt="Icon_base" width="200" height="200">
        </div>
        <div class="tag">
            <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid commodi quisquam reiciendis, fuga quas repellat enim excepturi ad dolores, velit dolorum. Consectetur est consequatur doloribus quo eveniet asperiores excepturi odio.</a>
        </div>
    </div>

    <div class="page_end">
        <div class="more_info">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quo similique officiis excepturi vitae possimus aperiam? Eum delectus nam earum corporis doloribus possimus itaque culpa fuga, illum quis veritatis exercitationem?</p>
        </div>
        <div class="disclaimer">
            <p>Lorem ipsum. Est, eum porro praesentium sed commodi earum accusamus illum dolores non repellendus numquam voluptatibus similique! Nobis ipsum voluptas, doloribus officia tenetur dignissimos.</p>
        </div>
    </div>



    <!--
    <div class="down_arrow">
        <img class="icon" src="static/img/icon.jpg" alt="Icon_base" width="150" height="150">
    </div>
    -->

    <div class="credit">
        <a href="www.youtube.com">V1.00 by MystAria VERSION PAGE</a>
    </div>
</body>

</html>



{#             
    {% for i in array %}    
    
    
    
    {% include 'shared/up_base.html' %}
    <h1>Home page</h1>
    <p>Nihil!</p>
    <p>{{ state }}</p>
    <p><a href={{ user_autorisation_url }}>Connect with Twitch</a></p>
    {% include 'shared/down_base.html' %}
#}